.container
  .col-md-12.text-center
    .big-text
      Sign in
    = link_to user_facebook_omniauth_authorize_path, class: 'btn btn-block btn-social btn-lg btn-facebook sign-in-butt' do
      %span.fa.fa-facebook
      Sign in with Facebook
    %a.btn.btn-block.btn-social.btn-lg.btn-google.sign-in-butt
      %span.fa.fa-google
      Sign in with Google
    %a.btn.btn-block.btn-social.btn-lg.btn-github.sign-in-butt
      %span.fa.fa-github
      Sign in with Github
    %a.btn.btn-block.btn-social.btn-lg.btn-twitter.sign-in-butt
      %span.fa.fa-twitter
      Sign in with Twitter
