.slide-wrapper
  %header
  .slide-text.reveal
    .slides
      %section Slide 1
      %section
        %section Slide 2.1
        %section Slide 2.2
        %section Slide 2.3
        %section Slide 2.4
      %section Slide 3
      %section
        %section Slide 4.1
        %section Slide 4.2
      -# = @course.text
