.divider {
  height: 1px;
  background-color: white
}
.divider--sm {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.divider--dark {
  background-color: color(grey-900);
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mt-40 {
  margin-top: 40px !important;
}

.mb-60 {
  margin-bottom: 60px !important;
}

.mt-60 {
  margin-top: 60px !important;
}
